/* Colors */
/* that blue #17365D */

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-size: 1.2em;
    /* line-height: 1.5; */
    line-height: 1.5em;
    padding: 20px;
    margin: 0px;
    text-align: left;
    color: #17365d;
}
main {
    margin: 0 15% 0 15%;
    width: 70%;
    display: grid;
    grid-template-areas:
        "hdr hdr hdr hdr hdr hdr"
        "nav nav nav nav nav nav"
        "asd art art art art art"
        "ftr ftr ftr ftr ftr ftr";
    grid-template-rows: 200px 50px min(700px) 100px;

    grid-template-columns: 288px auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

header {
    grid-area: hdr;
    border: 1px solid #17365d;
    border-radius: 5px;
    margin: 0px;
    padding: 6px 0 0 0;
    position: relative;
}

header img {
    margin-top: 5px;
}

.top {
    height: 214px;
}

.bottom {
    height: 106px;
}
.bottom p {
    padding-left: 20px;
}
.fix {
    background-color: #17365d;
    color: #fff;
    width: 288px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom-left-radius: 5px;
    z-index: -100;
}
header img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

nav {
    grid-area: nav;
    border: 1px solid #17365d;
    background-color: #17365d;
    /* font-size: 1.1em; */
    color: #fff;
    /* line-height: 30px; */
    text-align: right;
    border-radius: 5px;
    /* padding-top: 2px; */
}
aside {
    grid-area: asd;
    border: 1px solid #17365d;
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    background-color: #17365d;
}

article {
    grid-area: art;
    border: 1px solid #17365d;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 20px;
}
footer {
    grid-area: ftr;
    border: 1px solid #17365d;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

h4 {
    font-size: 1em;
    margin-top: 0px;
}

nav {
    padding: 5px 10px 5px 10px;
}

nav span {
    border: 1px solid #17365d;
    color: #fff;

    display: inline-block;
    /* height: 30px; */
    padding: 0 3px 0 3px;
    /* border-radius: 3px; */

    transition: 3ms border-color ease;
}

nav span a {
    border-color: #fff;
    text-decoration: none;
}

nav span a:hover {
    border-color: #fff;
    text-decoration: none;
}

nav span a:visited {
    color: #fff;
    text-decoration: none;
}

nav span kbd {
    color: #fff;
    margin-left: 7px;
}

nav span:last-of-type kbd {
    display: none;
}

.c {
    text-align: center;
}

.strong {
    font-weight: bolder;
}

.info {
    font-style: italic;

    color: #17365d;

    font-size: 0.9em;
}

#mainskills span {
    /* border: 1px solid red; */
    display: block;
    margin-bottom: 10px;
}

.fright {
    float: right;
}
.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #8b815dce;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__button:hover {
    background-color: #17375df1;
}

.accordion__button:before {
    display: inline-block;
    content: "";
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
